.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teacherbox{
    background-color: #3A3A3E;
    padding: 12px 12px;
    font-weight: 500;
    border-radius: 6px;
}

.topbar h3{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timeinfoboxcontainer{
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    gap: 15px;
    z-index: 10;
}

.timebox:first-of-type {
    background-color: #5BBD6B;
}

.timebox {
    background-color: #BD5B73;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 13px 11px;
    border-radius: 10px;
}

.timebox p{
    text-align: center;
    font-weight: 500;
}

.main{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 0.8fr 50px 0.8fr 1.2fr 60px;
    padding-top: 15px;
}

.desc{
    grid-row: 1/6;
    background-color: #3A3A3E;
    padding: 15px;
    border-radius: 6px;
    white-space: pre;
    text-wrap: wrap;
}

.files{
    background-color: #3A3A3E;
    padding: 15px;
    border-radius: 6px;
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
}

.submittitle{
    grid-column: 3/4;
    align-self: center;
    font-size: 1.2rem;
    padding-left: 15px;
}
.submittext{
    grid-column: 3/4;
    grid-row: 4/5;
    margin-top: 20px;
    background-color: #3A3A3E;
    border-radius: 6px;
    resize: none;
    padding: 10px;
    color: white;
}

.hint{
    color: #767676;
    font-weight: 600;
}

.centerhint{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.buttonscontainer{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 20px;
    gap: 20px;
}

.buttonscontainer button{
    border-radius: 5px;
    background-color: #84C68E;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.buttonscontainer button:first-of-type{
    background-color: #959595;
}

.buttonscontainer button:hover{
    background-color: #5a8160;
}

.backlink{
    position: absolute;
    right: 10px;
    top: -30px;
}

.filecontainer{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    font-weight: 500;
    text-align: center;
}

.filetime{
    color: #767676;
}